.hero {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;    
  }

  &__title {
    font-family: $font;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    margin-bottom: 40px;
    max-width: 330px;

    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.615;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 1.293;
      max-width: 550px;
    }
  }

  &__list {
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.571;
    letter-spacing: 0.08em;
    color: $color-main;
    margin-bottom: 30px; 
  }

  &__item {
    &:first-child {
      color: $color-grey;

    }
    &:last-child {
      color: $color-accent;
    }    
  }

  &__btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $color-second;
    width: calc(100% - 20px);
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: $color-accent;
    border: none;
    cursor: pointer;
    margin-bottom: 234px;
    border: 2px solid $color-accent;
    transition: color $animation, background-color $animation;

    &:hover,
    &:focus {
      color: $color-accent;
      background-color: $color-second;
      border: 2px solid $color-accent;
    }

    @media screen and (min-width: 768px) {
      width: 260px;
      margin-bottom: 50px;
    }
  }

  &__left {
    @media screen and (min-width: 768px) {
      width: 550px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 200px;
    }
  }
}