.teacher-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.30;
  letter-spacing: 0.03em;
  color: $color-text;
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    margin-bottom: 30px;
    text-align: left;
  }  

  @media screen and (min-width: 1280px) {
    font-size: 46px;
    margin-bottom: 50px;
  }  
}

.teacher-wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
  }  
}

.teacher-left {
  margin: 0 auto;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.teacher-left__wrapper {
  margin: 0 auto;
  width: 243px;
  height: 305px;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.4);

  @media screen and (min-width: 1280px) {
    width: 530px;
    height: 667px;
  }  
}

.teacher {
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }

  &__title {    
  font-weight: 800;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.08em;
  color: $color-text;
  border-bottom: 1px solid $color-grey;
  margin-top: 20px;
  padding-bottom: 10px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    }  
  }

  &__list {
    margin-top: 15px;    
    padding-left: 30px;

    @media screen and (min-width: 1280px) {
      width: 550px;
    }  
  }

  &__item {
    list-style-image: url("../images/teacher/point.svg");
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__paragraf {
    font-size: 13px;
    line-height: 1.185;
    letter-spacing: 0.06em;
    color: $color-text;
    width: 100%;

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      width: calc(100% - 50px);
    }  
  }

  &__bottom-paragraf {
    color: $color-grey;
    font-size: 12px;
    line-height: 1.67;

    @media screen and (min-width: 768px) {
      font-size: 10px;
      line-height: 2.8;
    }

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }       
  }
}