.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  fill: $color-main;
  cursor: pointer;
  transition: fill $animation;
  margin-left: 40px;

  @media screen and (min-width: 1280px) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: $color-accent;
  }

  &__icon {
    width: 30px;
    height: 30px;
  }
}