.container {  
  margin: 0 auto;
  width: 320px;
  padding: 0 20px;

  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
