.section {
  padding-top: 50px;
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  &_header {
    padding-top: 35px;
    padding-bottom: 0;
    
  }

  &_hero {
    padding-bottom: 0;
    background-size: 208px 178px;
    background-repeat: no-repeat;
    background-image: url("../images/header/hero-mobile.png");
    background-position: 50% 310px;   
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      background-size: 375px 320px;
      background-image: url("../images/header/hero-tablet.png");
      background-position: 85% 30%;   
    }

    @media screen and (min-width: 1280px) {
      background-size: 841px 718px;
      background-image: url("../images/header/hero-desktop.png");
      background-position: 75% 50%;   
    }
  }

  &_problems {    
    padding-bottom: 0;
    background-image: linear-gradient(
      to bottom,
      $color-main 78%,
      $color-second 78%,
    );

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
      to bottom,
      $color-main 69%,
      $color-second 69%,
    );
           
    }

    @media screen and (min-width: 1280px) {
      background-repeat: no-repeat;
      background-image: url("../images/problems-bg.png"),
        linear-gradient(
        to bottom,
        $color-text 78%,
        $color-second 78%);    
      background-position: right 54%;  
    }
  }

  &_program {
    background-color: $color-text;
  }

  &_choose {    
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient(
      to bottom,
      $color-text 70%,
      $color-second 70%,
    );

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(
      to bottom,
      $color-text 40%,
      $color-second 40%,
    );
           
    }

    @media screen and (min-width: 1280px) {
      background-repeat: no-repeat;
      background-image:
        linear-gradient(
        to bottom,
        $color-text 50%,
        $color-second 50%);    
      background-position: right 54%;  
    }
  }
}